/* adminHotels.scss */
.admin-hotels-container {
  display: flex;
  justify-content: space-between;
  gap: 20px; /* Add space between sections */
}
/* Add your existing styles here */

.right-section {
  .mb-3 {
    margin-bottom: 15px; /* You can adjust this value as needed */
  }
}

.left-section {
  width: 48%; /* Adjust width as needed */
  .admin-hotel-card {
    margin-bottom: 8px; /* Increase space between hotel cards */
    .hotel-description,
    .hotel-localisation {
      font-size: 12px; /* Reduce font size of description and localisation */
    }
    .hotel-name {
      font-size: 25px; /* Reduce font size of hotel name */
    }
    .remove-button {
      margin-right: auto; /* Push the remove button to the right */
    }
  }
}

.right-section {
  width: 48%; /* Adjust width as needed */

 
}