.airlines-hero-container {
    position: relative;
    min-height: 250px;
    background-image: url('../../../../assests/hero9.jpg');
    background-size: 100% auto; /* Stretch width, maintain aspect ratio */
    background-position: 50% 10%; /* Center the image */
    color: #fff;
    background-repeat: no-repeat;
  }
  