
.omra-hero-container {
    position: relative;
    min-height: 250px; /* Set the desired minimum height */
    background-image: url('../../../../assests/hero4.jpg'); /* Add your background image */
    background-size: cover;
    background-position: fill;
    display: flex;
    
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff; /* Text color */
  }

  